* {
  box-sizing: border-box;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  outline: 2px;
  line-height: 1pt;
  
}

img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}